.display {
    display: none;
}

.display .containers {
    border-top: 2px #000 solid;
    border-bottom: 0.5px #000 solid;
    font-family:  YACkoA9eHeY-0;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #fff;
}

.display .containers {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    position: absolute;
    width: 100%;
    z-index: 9999;
}

.display .menu {
    margin-right: 50px;
}

.display .menu h2 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.display .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.display .menu ul li {
    margin-bottom: 10px;
}

.display .menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.display .content {
    text-align: center;
}

.display .content img {
    max-width: 100px;
    height: auto;
}

.display .content p {
    font-size: 14px;
    margin: 10px 0;
}

.display .content a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

#navbarNavDropdown>ul>li>a {
    position: relative;
}

#navbarNavDropdown>ul>li>a::before {
    content: "";
    height: 4px;
    width: 0px;
    background-color: #000;
    position: absolute;
    bottom: 0px;
    left: 0px;
    /* display: none; */
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#navbarNavDropdown>ul>li:hover>a::before {
    width: 100%;
    stroke-opacity: 0.3;
}

/* #catergoryChild>p>a::before {
    content: "";
    height: 4px;
    width: 0px;
    background-color: #000;
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: none;
    transition: 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#catergoryChild>p:hover>a::before {
    width: 100%;
    stroke-opacity: 0.3;
} */

/* #catergoryChild .hover-item {
    display: block;
    padding: 10px 15px;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 5px;
}

#catergoryChild .hover-item:hover {
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

#catergoryChild .dropdown-menu {
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
} */

.nav-item.dropdown .main:hover {
    opacity: 0.5;
}

.nav-item.dropdown .display:hover {
    display: block;
}